---
import { Image } from "astro:assets";
import icecream from "../assets/images/icecream.webp";
import discoball from "../assets/images/discoball.webp";
import popcorn from "../assets/images/popcorn.webp";
import drink from "../assets/images/drink.webp";
import flower from "../assets/images/flower.webp";
---

<section class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
  <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter pb-4 text-firstkiss-500 max-w-2xl animationinviewfade">zero pressure. maximum fun.</h2>
  <p class="max-w-2xl pb-12 text-pillowtalk-500 animationinviewfade">with Doubble Events, dating feels like a night out with your friends — not awkward, not forced. just good times, good people, and your closest crew by your side.</p>
  <Image src={discoball} alt="an ice cream cone" class="animate__animated animate__flash animate__slower animate__delay-1s animate__infinite max-w-[350px]" />
</section>


