<section class="bg-pillowtalk-500 text-afterhours-500">
  <article class="max-w-7xl mx-auto py-12 md:py-16 px-4 md:px-16">
    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 pb-8 md:pb-12 animationinviewfade">do you want another awkward dating app?</h2>

    <h2 class="font-montserrat text-heading2 font-extrabold tracking-tighter text-afterhours-500 animationinviewfade text-end">then doubble is <span class="italic font-light">not</span> for you</h2>
  </article>
</section>
